html, body, #map {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    padding-top: 50px;
}

.leaflet-popup-content {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.leaflet-popup-content-wrapper {
    border-radius: 5px;
}
.leaflet-sidebar {
    z-index: 1020;
}
.leaflet-sidebar .close {
    right: 0px;
    top: 5px;
    background: transparent;
}
@media (max-width: 992px) {
    .navbar .navbar-brand {
        font-size: 18px;
    }
}
@media (max-width: 767px){
    .url-break {
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
}
/* Print Handling */
@media print {
    .navbar {
        display: none !important;
    }
    .leaflet-control-container {
        display: none !important;
    }
}

.day-button {
border: 0;
display: inline-block;
padding: 10px 20px;
background: #b0de5c;
height: 20px;
margin: 10;
-moz-transition: background-color .25s ease-in-out;
-webkit-transition: background-color .25s ease-in-out;
-o-transition: background-color .25s ease-in-out;
-ms-transition: background-color .25s ease-in-out;
transition: background-color .25s ease-in-out;
letter-spacing: 2px;
text-decoration: none;
text-transform: uppercase;
font-size: 12px;
font-weight: 600;
color: #FFF;
cursor: pointer;
}

.day-button:hover {
background-color: #00ad87;
}