/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-webkit-scrollbar { width:10px; height:10px; }
::-webkit-scrollbar-track { background:transparent; border-left:1px solid rgba(0,0,0,0.1); }
::-webkit-scrollbar-thumb { background:rgba(0,0,0,0.2); }

/* base */

body {
    margin:0; padding:0;
    font-family: 'Muli', sans-serif;
    color:#222;
    -webkit-font-smoothing:antialiased;
}

:focus { outline:0; }

a {
    color:#3bb2d0;
    text-decoration:none;
}

a:hover {
    color:#1E758B;
}

p {
    padding: 10px 0;
    line-height: 18px;
    color: #555;
    font-size: 16px;
}
.prose a {
  padding: 10px 0px;
}
small { font-size: 11px;}

.pad2 {
  padding: 25px;
}
h1 {
  font-weight: bold;
  font-size: 28px;
  padding-bottom:10px;
}
h2 {
  font-weight: bold;
  font-size: 22px;
  padding:10px 0px;
}
h3 {
 font-weight: bold;
  font-size: 16px;
  padding-bottom:10px;
}
/*-----------------------------------
  Map and container
-------------------------------------*/
#map {
  position:absolute; top:0; bottom:0; width:100%;z-index: 0;
}
ul.nav {
    background: #fff;
    background:rgba(255,255,255,0.9);
    position:absolute;
    width:100%;
    top:0px;
    right:0px;
    left: 0px;
    border-bottom: 1px solid #ccc;
    z-index: 10; 
}
ul.nav li {
  background: #fff;
  background:rgba(255,255,255,0.9);
  display: inline-block;
  float: left;
  width: 16.58%;
  border-right: 1px solid #ddd;
  overflow: hidden;
}
ul.nav li:last-child {
  border-right: none;
}
ul.nav li a{
  height: 20px;
  width: 100%;
  padding: 10px 0px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-bottom: 4px solid #ccc;
    -webkit-transition: border 1s, width 1s, height 1s, background-color 0.5s;
    transition:border 1s, width 1s, height 1s, background-color 0.5s;
}

ul.nav li a.active,
ul.nav li a:hover {
  background: #eee;
  font-weight: 700px;
   color:#1E758B;
}

ul.nav li a.snow {
  border-bottom: 4px solid #3E7964;
}
ul.nav li a.drought {
  border-bottom: 4px solid #AA6827;
}
ul.nav li a.flood {
  border-bottom: 4px solid #00a59c;
}
ul.nav li a.pollution {
  border-bottom: 4px solid orange;
}
ul.nav li a.tornado {
  border-bottom: 4px solid #fCb737;
}

 #info {
    background: #fff;
    background:rgba(255,255,255,0.9);
    position:absolute;
    max-width: 340px;
    width:40%;
    top:50px;
    bottom:10px;
    right:10px;
    border-radius:2px;
    z-index: 10;
    border: 1px solid #ccc;
    overflow-y: scroll;
}
#rep {
    background: #fff;
    background:rgba(255,255,255,0.9);
    position:absolute; 
    max-width: 30 0px;
    top:50px;
    height: 150px;
    bottom:10px;
    left:10px;
    border-radius:2px;
    z-index: 10;
    display: none;
    border: 1px solid #ccc;
}
.leaflet-right {
  left: 0 !important;
  right: auto !important;
}